---
// NavButton.astro

interface Props {
    title: string;
    target: string;
    type?: "normal" | "cta" | "header";
    fontSize?: "small" | "medium" | "large";
    bold?: boolean;
    expandToParent?: boolean;
    horizontalMargin?: boolean;
    paddingX?: number;
    paddingY?: number;
}

const {
    title,
    target,
    type = "normal",
    fontSize = "medium",
    bold = false,
    expandToParent = false,
    horizontalMargin = false,
    paddingX = 0,
    paddingY = 0,
} = Astro.props;
---

<a
  href={target}
  class:list={{
    "px-2 rounded-xl text-center": true,
    "inline-block": !expandToParent,
    "block w-full": expandToParent,
    "bg-orange-100 playfair uppercase border-2 hover:bg-orange-200 transition-all":
        type === "cta",
    "uppercase hover:text-black hover:bg-neutral-100": type === "header",
    "text-sm": fontSize === "small",
    "text-lg": fontSize === "medium",
    "text-2xl": fontSize === "large",
    "font-bold": bold === true,
    "px-4 mx-2": horizontalMargin === true,
  }}
  style={{
    paddingLeft: paddingX ? `${paddingX}px` : undefined,
    paddingRight: paddingX ? `${paddingX}px` : undefined,
    paddingTop: paddingY ? `${paddingY}px` : undefined,
    paddingBottom: paddingY ? `${paddingY}px` : undefined,
  }}
>
  {title}
</a>

